<div class="animate__animated animate__fadeIn animate__faster">
  <h2>For Capital</h2>
  <hr />

  <div class="row">
    <div class="col">
      <app-search
        (onTermine)="search($event)"
        (onDebunce)="sugget($event)"
        [placeholder]="'Search country by capital..'"
      ></app-search>
    </div>
  </div>
</div>

<hr />
<div class="alert alert-danger" *ngIf="flagError">
  Sorry no should country :(..
</div>
<div class="row" *ngIf="countrys.length > 0">
  <div class="col">
    <app-countrys-table [countrys]="countrys"></app-countrys-table>
  </div>
</div>
